header {grid-area: header; position: sticky; top: 0; background-color: #202020; z-index: 2; transition: ease-in-out 0.375s;}
header ul {text-align: right; padding: 1rem;}

header li {display: inline-block;}
header li > span {display: inline-block; padding: 1rem; color: white;}
header li:first-of-type {float: left;}

.nav-s {display: inline-block; width: 3.25rem; height: 3.25rem; padding: 0.8rem 1.1rem 1.2rem 0.9rem; font-family: monospace; font-size: 0.5rem; line-height: 0.5rem; letter-spacing: 0.25rem; color: #6FDEDE;}
.nav-c {display: none; font-family: "Segoe MDL2 Assets"; font-size: 1.25rem; padding: 1rem; color: #6FDEDE;}

@media only screen and (max-width: 45rem)/*720*/{
	header {box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.125);}
	header ul {text-align: left; padding: initial;}
	header li:first-of-type {float: right;}
}