header {grid-area: header; position: sticky; top: 0; background-color: #202020; z-index: 2; transition: ease-in-out 0.375s; height: 5rem;}
header ul {text-align: right; padding: 1rem;}

header li {display: inline-block;}
header li:first-of-type {float: left;}
header li > span {display: inline-block; color: white;}

.nav-s {display: inline-block; width: 3rem; height: 3rem; padding: 0.8rem 0.75rem 0.7rem 0.75rem; font-family: monospace; font-size: 0.625rem; line-height: 0.45rem; letter-spacing: 0.1rem; color: #6FDEDE;}
.nav-c {display: none; color: #6FDEDE;}

.nav-c, header li > span {font-family: "Segoe MDL2 Assets";}
header li > span {font-size: 1.25rem; padding: 0.875rem;}
.nav-c {font-size: 1.375rem; padding: 0.8125rem;}

@media only screen and (max-width: 720px) {
	header {background-color: rgba(32,32,32,0.975); box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.125); height: 4rem;}
	header ul {text-align: left; padding: 0.5rem 1.25rem;}
	header li:first-of-type {float: right;}
}