.desktop {display: inline-block; width: 4rem; height: 100%; position: fixed; top: 0; left: 0; z-index: 3; background-color: #101010;}
.desktop > a:first-of-type {
	display: inline-block; width: 4rem; height: 3.875rem; padding: 1.1rem 0.9rem 0.9rem 1.1rem;
	background-color: #6FDEDE; color: black; 
	font-family: monospace; font-size: 0.5rem; line-height: 0.5rem; letter-spacing: 0.25rem;}
.desktop > a:first-of-type:hover {background-color: rgba(111,222,222,0.75);}

.desktop > a, .desktop > span, .desktop > div:last-child a {display: inline-block; transition: ease-in-out 0.375s;}

.desktop > a.mdl2, .desktop > span, .desktop > div:last-child a {color: rgba(255,255,255,0.9); padding: 1.375rem; letter-spacing: initial;}
.desktop > div:last-child {position: absolute; bottom: 0;}
.desktop > div:last-child a:last-child {background-color: rgba(255,255,255,0.0625);}

.desktop > a:hover, .desktop > span:hover, .desktop > div:last-child a:hover {background-color: rgba(111,222,222,0.25);}

.mob {display: none; width: 100%; position: sticky; top: 0; left: 0; z-index: 3; background-color: rgba(16,16,16,0.75); box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.125); transition: ease-in-out 0.375s;}
.mob > a:first-of-type {color: rgba(255,255,255,0.9); float: left; padding: 1.125rem; text-transform: uppercase; letter-spacing: 0.375rem;}
.mob > a:first-of-type:hover {color: rgba(111,222,222,0.9); letter-spacing: 0.5625rem;}
.mob > a:last-of-type {display: inline-block; width: 3.5rem; height: 3.5rem; background-color: #6FDEDE; font-family: monospace; font-size: 0.5rem; line-height: 0.5rem; letter-spacing: 0.25rem; float: right; padding: 0.9rem 0.85rem 1.1rem 1.15rem; transition: ease-in 0.125s;}
.mob > a:last-of-type:hover {background-color: rgba(111,222,222,0.9); color: black;}

.nav {
	position: fixed; top: 0; right: -125%; width: 100%; height: 100%; overflow-y: auto; z-index: 4;
	display: grid; grid-template-columns: auto auto auto auto; grid-gap: 0.5rem; padding: 1rem;
	background-color: rgba(0,0,0,0.975); transition: 0.375s ease-in-out;}
.nav * {color: white;}
.nav > a:first-of-type {display: inline-block; position: absolute; top: 0; right: 0; padding: 1rem; font-family: 'Segoe MDL2 Assets'; font-size: 1.5rem;}

@media only screen and (max-width: 45rem)/*720*/{.desktop {display: none;} .mob {display: inline-block;}}